.mobile-menu {
    display: block;
    background: #F8D398;
    color: white;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
  z-index: 1;
    height:  100vh ;
    top: 0;
}


/* Small devices (e.g., phones) - default styles */

/* Show hamburger menu on smaller screens and hide the normal menu*/
@media (max-width: 768px) {

    header{
        height: 100vh;
    }

    .navTxt{
        color: #9F5A35;
    }

    .frostedGlass{
        display: none !important;
    }

    .hamburger {
        display: flex;
        height: fit-content;
        padding: 20px;
        z-index: 9999;
        display: block;
    }

/*    footer   */
    .footer-links{
        display: flex;
        flex-direction: column;
    }

}



/* Large screens */

/* Hide menu for larger screens */
@media (min-width: 768px) {
    .hamburger {
        display: none;
    }
    .mobile-menu {
        display: none;
    }
}

